@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;1,400&family=Playfair+Display:ital,wght@0,600;0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
    display: block;
}
body{
    background-color: #fafafa;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.spacing{
    padding: 1rem;
}
.font-play{
    font-family: 'Playfair Display', serif;
}
.font-montserrat{
    font-family: 'Montserrat', sans-serif;
}
.font-italic{
    font-style: italic;
}
.recipe__title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    text-transform: capitalize;
    padding-bottom: 0.5rem;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1rem;
}
.desc_content{
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #4f4f4f;
    flex: 0 0 90%;
    max-width: 90%;
}
.desc_image{
    border-radius: 12px;
}

.recipe__block{
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.recipe__block .recipe__box:first-child{
    flex: 0 0 100%;
    max-width: 100%;
}
.recipe__box{
    display: flex;
    align-items: end;
    margin-bottom: 1rem;
}
.box__title{
    font-style: normal;
    font-weight: bold;
    font-size: 8px;
    line-height: 10px;
    text-transform: uppercase;
    color: #bdbdbd;
}
.color-yellow{
    color: #f2994a !important;
}
.hour{
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #333333;
}
.icon{
    align-self: end;
    margin-right: 0.3rem;
}
.material-icons{
    color: #4f4f4f;
}

/* Ingredients */
.principle-title{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 0.5rem;
}
.subtitle{
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    margin: 1rem 0;
    text-transform: capitalize;
}
.ingredient{
    margin: 2rem 0;
}
label{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    color: #333333;
    padding: 0.2rem;
    align-self: baseline;
    margin-left: 0.5rem;
}
.font-bold{
    font-weight: bold;
}
.form_input{
    margin: 0.5rem 0;
    display: flex;
}
input[type= checkbox]{
    border: 1px solid #828282;
    border-radius: 4px;
    align-self: baseline;
}

/* Instructions */
.intructions__block{
    margin: 2rem 0;
}
.instruction__content{
    margin: 2rem 0;
}
.instruction__content{
    display: grid;
}
.number{
    font-style: normal;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    height: 36px;
    width: 36px;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 1;
}
.number-background{
    background-color: #F2994A;
    border-radius: 6px;
}
.list{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    margin-left: 1rem;
    grid-row-start: 1;
    grid-row-end: 1;
}
.source{
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #bdbdbd;
    margin: 1rem 0;
}
.source a{
    color: #bdbdbd;
}

/* Footer */
footer.footer {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 70px 0;
    color: #A9A9A9;
}

.footer__paragraph{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    font-size: 14px;
}

.footer__link {
    text-decoration: none;
    color: #A9A9A9;
}


@media only screen and (min-width: 768px){
    body{
        width: 100%;
        height: 100%;
    }
    #recipe{
        width: 70%;
        margin: 0 auto;
    }
    .recipes{
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: baseline;
        margin-top: 2rem;
    }
    .recipe__block {
        background: #fff;
        display: block;
        padding: 3rem;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 12px;
    }
    .ingredients-intructions {
        flex-basis: 60%;
        align-self: center;
    }
    .principle-title{
        font-size: 24px;
        line-height: 32px;
    }
    .subtitle{
        font-size: 18px;
        line-height: 24px;
    }
    label{
        font-size: 16px;
        line-height: 25px;
    }
    .source{
        font-size: 16px;
        line-height: 150%;
    }
    .box__title{
        font-size: 10px;
        line-height: 12px;
    }
    .hour{
        font-size: 14px;
        line-height: 17px;
    }
    .content{
        justify-content: normal;
        max-width: 600px;
    }
    .desc_content{
        margin-left: 1rem;
        font-size: 14px;
        line-height: 17px;
    }
    .recipe__title{
        font-size: 48px;
        line-height: 64px;
    }
}
